body {
	margin: 0;
	background: var(--backGroundColor);
	color: white;
	font-family: 'Andale Mono';
}

p {
	margin: 0;
}

:root {
	--backGroundColor: #0c1015;
	--green: #0bbe0b;
}

#root {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

@font-face {
	font-family: 'Andale Mono';
	src: url(assets/fonts/AndaleMono.ttf);
}
